<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>On my way!</string>
		<key>shortcut</key>
		<string>omw</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>囧rz</string>
		<key>shortcut</key>
		<string>orz</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　˙-˙　)</string>
		<key>shortcut</key>
		<string>あー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(`0言0*)</string>
		<key>shortcut</key>
		<string>あああ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℒᵒᵛᵉᵧₒᵤ</string>
		<key>shortcut</key>
		<string>あいしてる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾞｭｯ(*･ω･)=o=(･ω･*)ｷﾞｭｯ</string>
		<key>shortcut</key>
		<string>あくしゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑˃̵ᴗ˂̵)っ⑩</string>
		<key>shortcut</key>
		<string>あげる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´Д｀;≡;´Д｀)丿</string>
		<key>shortcut</key>
		<string>あたふた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ('ω')ﾉ三ヽ('ω')ﾉ</string>
		<key>shortcut</key>
		<string>あたふた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(´Д｀ヽ ミ　ノ´Д｀）ノ</string>
		<key>shortcut</key>
		<string>あたふた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉ∀`)ｱﾁｬｰ</string>
		<key>shortcut</key>
		<string>あちゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(;"°'ㅂ°'):</string>
		<key>shortcut</key>
		<string>あっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡&gt;﹏&lt;)あㄘ”ゅいー</string>
		<key>shortcut</key>
		<string>あつい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂((° x。))⊃</string>
		<key>shortcut</key>
		<string>あばー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ꉂꉂ(ˊᗜˋ*)ʬʬ</string>
		<key>shortcut</key>
		<string>あはは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>└(:D」┌)┘</string>
		<key>shortcut</key>
		<string>あはは</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(๑꒪Д꒪๑)v</string>
		<key>shortcut</key>
		<string>あへがおだぶるぴーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>､ヽ`､ヽ`个o(๑'ㅂ'๑)`ヽ､`ヽ､</string>
		<key>shortcut</key>
		<string>あめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｀个o(･_･｡)｀ヽ</string>
		<key>shortcut</key>
		<string>あめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᵗᑋᵃᐢᵏ ᵞᵒᵘ</string>
		<key>shortcut</key>
		<string>ありがと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•·♥τнänκ чöü♥·•</string>
		<key>shortcut</key>
		<string>ありがと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>b(´,,•ω•,,b` 三 ´b,,•ω•,,`)b</string>
		<key>shortcut</key>
		<string>いえい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｲｮ━━━━ヽ(=ﾟωﾟ)人(ﾟωﾟ=)ﾉ━━━━!!</string>
		<key>shortcut</key>
		<string>いえい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>v(｡･ω･｡)ｨｪｨ♪</string>
		<key>shortcut</key>
		<string>いえい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・へ・)ｲｸﾅｲ!</string>
		<key>shortcut</key>
		<string>いくない</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=͟͟͞͞(๑•̀д•́๑)ｲｿｹﾞｰ</string>
		<key>shortcut</key>
		<string>いそげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╮╯╭)</string>
		<key>shortcut</key>
		<string>いも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*Ծ﹏Ծ)</string>
		<key>shortcut</key>
		<string>うー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ⌯᷄௰⌯᷅ )</string>
		<key>shortcut</key>
		<string>うー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（」・ω・）」うー！（」;・ω・）」うー！（」;;・ω・）」うー！</string>
		<key>shortcut</key>
		<string>うー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(」・ω・)」うー！(_´゜ω゜｀)_はぁぁぁ・・・</string>
		<key>shortcut</key>
		<string>うーはー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( •́ .̫ •̀ )</string>
		<key>shortcut</key>
		<string>うーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡´･＿＿＿＿＿･｀｡)</string>
		<key>shortcut</key>
		<string>うーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(`0言0*)ｳﾞｪｱｱｱｱｱｱｱｱｱｱｱｱｱｱｱｱ!!!</string>
		<key>shortcut</key>
		<string>ゔぁー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡╹ω╹｡)ﾉｼ</string>
		<key>shortcut</key>
		<string>うい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>...ρ(･ω`･*)</string>
		<key>shortcut</key>
		<string>うぐぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（」・ω・）」うー！（」;・ω・）」うー！（」;;・ω・）」うー！(／；･`ω´･ )／にゃー！！！</string>
		<key>shortcut</key>
		<string>うにゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(」・ω・)」うー！(／・ω・)／にゃー！</string>
		<key>shortcut</key>
		<string>うにゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(～・ω・)～</string>
		<key>shortcut</key>
		<string>うねうね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε二二二ε二二二(｡ﾟつД`)ﾟ｡ｳﾜｧｧ-----ﾝ!!!!</string>
		<key>shortcut</key>
		<string>うわーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⊙⊙)</string>
		<key>shortcut</key>
		<string>ぇ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(  #°᷄  ᐞ °᷅ )</string>
		<key>shortcut</key>
		<string>えー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(˘･_･˘)</string>
		<key>shortcut</key>
		<string>えー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩(｡･д･｡)</string>
		<key>shortcut</key>
		<string>えー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´・д・)</string>
		<key>shortcut</key>
		<string>えー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ ;ᯅ;  ）</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´இ﹏இ｀)</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(つд⊂)ｴｰﾝ</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡&gt;﹏&lt;)</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（；д；）</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(  ；∀；)</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(☍﹏⁰)</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(´；ヮ；｀)∩ンヒィ～～～</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>il||li(つω-`。)il||li</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> ｡･ﾟ･(´□`*)｡･ﾟ･</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✧*。ヾ(｡&gt;﹏&lt;｡)ﾉﾞ。*✧</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾉ_･｡) </string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(p≧дq)゜</string>
		<key>shortcut</key>
		<string>えーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・・ヽ*)</string>
		<key>shortcut</key>
		<string>えいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(•̀ω•́ )ゝ✧</string>
		<key>shortcut</key>
		<string>えいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(੭ ᐕ))？</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑ᐤ᷄⌓︎ᐤ᷅๑)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ(๑⊙д⊙๑)ฅ</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>꒰꒪꒫꒪⌯꒱</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(꒪⌓꒪ )</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟдﾟ)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´⊙ω⊙`)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ; ゜Д゜)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(゜〇゜;)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( •̀ㅁ•́;)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( °дﾟ)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⊙⊙)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‼(•'╻'• ۶)۶</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　 Д )　⊙ ⊙</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ(･ω･ﾉ)ﾉ</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ﾟДﾟ）</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε=(´･艸･`｡)</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ（ﾟдﾟlll）</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ )</string>
		<key>shortcut</key>
		<string>えっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ꈍᴗꈍ)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑^᎑^๑)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˶ˆ꒳ˆ˵ )</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ͡° ͜ʖ ͡°)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（´・◡・｀）</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ・◡・)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・◡・ )</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(°▽、°)ﾉｴﾍﾍﾍﾍ</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(≧ω≦)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑&gt;◡&lt;๑)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´ω｀*)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´σｰ｀)ｴﾍﾍ</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´∀｀*)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑˘ᴗ˘๑)</string>
		<key>shortcut</key>
		<string>えへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩( 'ω' )و</string>
		<key>shortcut</key>
		<string>おー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(； ･`д･´)</string>
		<key>shortcut</key>
		<string>おー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>╰(*ﾟxﾟ​*)╯</string>
		<key>shortcut</key>
		<string>おーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(*ﾟ◯ﾟ*)ﾉ</string>
		<key>shortcut</key>
		<string>おーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(#ﾟДﾟ)</string>
		<key>shortcut</key>
		<string>おい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･`ω･´)b</string>
		<key>shortcut</key>
		<string>おけ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*･ﾟ☆ндрру✩°｡⋆⸜(* ॑꒳ ॑* )⸝ *･ﾟвiятнDду☆ﾟ･*.</string>
		<key>shortcut</key>
		<string>おたおめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(。・・)_且~~</string>
		<key>shortcut</key>
		<string>おちゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(`･ω･´*)おつにゃん</string>
		<key>shortcut</key>
		<string>おつにゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟ∀ﾟ)o彡°おっぱい！おっぱい！</string>
		<key>shortcut</key>
		<string>おっぱい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(´・ω・｀)∩</string>
		<key>shortcut</key>
		<string>おてあげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(´･_･`*)∩</string>
		<key>shortcut</key>
		<string>おてあげ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(ﾟдﾟ；o≡o；ﾟдﾟ)o</string>
		<key>shortcut</key>
		<string>おどおど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>pͪoͣnͬpͣoͥnͭpͣa͡inͥ</string>
		<key>shortcut</key>
		<string>おなかいたあ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぉはょ━ヽ(`･ω･)ﾉ━ぅ!!</string>
		<key>shortcut</key>
		<string>おはよー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( *ˊᵕˋ)ɢᵒᵒᵈ ɴⁱᵍᑋᐪ 🌟</string>
		<key>shortcut</key>
		<string>おやすみ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ(o’v’o)</string>
		<key>shortcut</key>
		<string>おれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ(ﾟ∀ﾟ )ｵﾚ</string>
		<key>shortcut</key>
		<string>おれ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（°𓂍°）</string>
		<key>shortcut</key>
		<string>おろろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼(^o^)／</string>
		<key>shortcut</key>
		<string>おわた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(*ﾟдﾟ)ノ ＜ ｶｲﾊﾞｰ</string>
		<key>shortcut</key>
		<string>かいば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（＾ω＾）</string>
		<key>shortcut</key>
		<string>かお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･_･`)</string>
		<key>shortcut</key>
		<string>かお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩!꒪◊꒪!۶</string>
		<key>shortcut</key>
		<string>かお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ(๑•̀ω•́๑)ฅ</string>
		<key>shortcut</key>
		<string>がおー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅʕ•̫͡•ʔฅ</string>
		<key>shortcut</key>
		<string>がおー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌒Y⌒Y⌒Y⌒Y⌒Y⌒(｢･x･)｢ ぴょんぴょんがおがおー</string>
		<key>shortcut</key>
		<string>がおー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｢･ω･)｢ がおー</string>
		<key>shortcut</key>
		<string>がおー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:(´◦ω◦｀):ｶﾞｸﾌﾞﾙ</string>
		<key>shortcut</key>
		<string>がくぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((( ；ﾟДﾟ)))</string>
		<key>shortcut</key>
		<string>がくぶる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヘ(｡⊿ﾟへ )へ</string>
		<key>shortcut</key>
		<string>かさかさ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σp[【◎】]ω・´)</string>
		<key>shortcut</key>
		<string>かしゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (m・WW・)mｶﾞﾙﾙ</string>
		<key>shortcut</key>
		<string>がるる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▽ヾ(^▽^*)(*^∇^)ノ▽</string>
		<key>shortcut</key>
		<string>かんぱい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ^０^)／Y☆Y ＼（＾ー＾） </string>
		<key>shortcut</key>
		<string>かんぱい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>p(`･-･´)q</string>
		<key>shortcut</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（∩゜д゜）アーアーきこえなーい</string>
		<key>shortcut</key>
		<string>きこえない</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｷﾀ━━━(ﾟ∀ﾟ)━━━!!</string>
		<key>shortcut</key>
		<string>きた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₹₺</string>
		<key>shortcut</key>
		<string>きも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ぎゃーす！ヾ(l ヮ l〃)ﾉﾞヾ(〃l _ l)ﾉﾞぎゃーす！</string>
		<key>shortcut</key>
		<string>ぎゃーす</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>+。:.ﾟ(๑＞◡╹๑)(๑╹◡＜๑):.｡+ﾟ</string>
		<key>shortcut</key>
		<string>きゃぴっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡-(╹◡&lt;✿)♪</string>
		<key>shortcut</key>
		<string>きゃぴっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(✿&gt;◡╹)-♡</string>
		<key>shortcut</key>
		<string>きゃぴっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ゝω・）vｷｬﾋﾟｯ</string>
		<key>shortcut</key>
		<string>きゃぴっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>.°ʚ(  *´꒳))ω`,,)ｷﾞｭｯ♡</string>
		<key>shortcut</key>
		<string>ぎゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>だいしゅきほーるど°+♡:.(っ&gt;ω&lt;c).:♡+°</string>
		<key>shortcut</key>
		<string>ぎゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(≧ω≦(｡･_･｡)ゝｷﾞｭｯ</string>
		<key>shortcut</key>
		<string>ぎゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・д・ = ・д・)</string>
		<key>shortcut</key>
		<string>きょろきょろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*･゜ﾟ･*:.｡..｡.:*･*･'ヽ(*ﾟ◯ﾟ*)ﾉ'･゜ﾟ･*:.｡. .｡.:*･゜ﾟ</string>
		<key>shortcut</key>
		<string>きらきらぱわー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>•̀.̫•́✧</string>
		<key>shortcut</key>
		<string>きらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆〜（ゝ。∂）</string>
		<key>shortcut</key>
		<string>きらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(✧≖ω≖)ｷﾘｯ</string>
		<key>shortcut</key>
		<string>きりっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(･`ω´･ )</string>
		<key>shortcut</key>
		<string>きりっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(`・ω・´)</string>
		<key>shortcut</key>
		<string>きりっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(˶‾᷄ ⁻̫ ‾᷅˵)</string>
		<key>shortcut</key>
		<string>くぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´Д⊂ｸﾞｽﾝ</string>
		<key>shortcut</key>
		<string>ぐすん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ᴗ･*)و</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎( •̀ᄇ• ́)ﻭ✧”</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎(•̀ᴗ•́)و ̑̑</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑˃̵ᴗ˂̵)و</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑•̀ㅂ•́)و✧</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･ㅂ･)و ̑̑ ｸﾞｯ !</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´∀｀)bｸﾞｯ!</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>c⌒っ.ω.)っ</string>
		<key>shortcut</key>
		<string>ぐでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_(:3」 ∠)_</string>
		<key>shortcut</key>
		<string>ぐでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_(┐「ε:)_</string>
		<key>shortcut</key>
		<string>ぐでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂⌒~⊃｡Д｡)⊃</string>
		<key>shortcut</key>
		<string>ぐでん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_:(´ཀ`」 ∠):_</string>
		<key>shortcut</key>
		<string>ぐはぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑ΦωΦ๑)</string>
		<key>shortcut</key>
		<string>くわっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(#ﾟДﾟ)ﾉ┌θ</string>
		<key>shortcut</key>
		<string>げしげし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(# ゜Д゜)</string>
		<key>shortcut</key>
		<string>けっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(･д･)ｹｯ</string>
		<key>shortcut</key>
		<string>けっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>小宇宙</string>
		<key>shortcut</key>
		<string>こすも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ლ( ｰ`дｰ´ლ)</string>
		<key>shortcut</key>
		<string>こっちこい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｺﾛ(๑º - º)ｺﾛ</string>
		<key>shortcut</key>
		<string>ころころ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂⌒~⊃｡Д｡)⊃</string>
		<key>shortcut</key>
		<string>ごろん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᗦ↞◃</string>
		<key>shortcut</key>
		<string>さかな</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|彡ｻｯ</string>
		<key>shortcut</key>
		<string>さっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;((•﹏•๑)));: ㄜႫゅƖ ı</string>
		<key>shortcut</key>
		<string>さむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（・×・）ｼｰｯ</string>
		<key>shortcut</key>
		<string>しーっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>壁]ω・）じーっ</string>
		<key>shortcut</key>
		<string>じーっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(,,Ծ ‸ Ծ,,)</string>
		<key>shortcut</key>
		<string>じとー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ಠ_ಠ</string>
		<key>shortcut</key>
		<string>じとー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(¬_¬)</string>
		<key>shortcut</key>
		<string>じとー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･᷄_･᷅ )</string>
		<key>shortcut</key>
		<string>じとー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡･ˇ_ˇ･｡)</string>
		<key>shortcut</key>
		<string>じとー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>凸(╹◡╹✿) しね</string>
		<key>shortcut</key>
		<string>しね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω:;.:...</string>
		<key>shortcut</key>
		<string>しゅー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=͟͟͞͞(๑•̀д•́๑)っ</string>
		<key>shortcut</key>
		<string>しゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｼｭｯ( ^o^)ｼ ＝＝＝卍</string>
		<key>shortcut</key>
		<string>しゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´,,•﹃ •,,｀)</string>
		<key>shortcut</key>
		<string>じゅるっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(゜ρ゜)</string>
		<key>shortcut</key>
		<string>じゅるっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑´･ω･`๑)</string>
		<key>shortcut</key>
		<string>しょぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´・ω・`)</string>
		<key>shortcut</key>
		<string>しょぼん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>0(:3　)〜 =͟͟͞͞('､3)_ヽ)＿</string>
		<key>shortcut</key>
		<string>しんだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>〓■●_</string>
		<key>shortcut</key>
		<string>しんだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡╹ω╹)_┳※･･･････････････････････(;ﾟﾛﾟ)･･･････････</string>
		<key>shortcut</key>
		<string>ずきゅん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(⌒(_*'ω'*)_</string>
		<key>shortcut</key>
		<string>すっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˘ω˘)ｽﾔｧ</string>
		<key>shortcut</key>
		<string>すやぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/･ω･(-ω-*)ﾀﾞｷｯ</string>
		<key>shortcut</key>
		<string>だきっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ･ω･)っだっこ</string>
		<key>shortcut</key>
		<string>だっこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(メ´・ω・`)</string>
		<key>shortcut</key>
		<string>だめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>千登世橋</string>
		<key>shortcut</key>
		<string>ちとせばし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡(  ᵕ̤ɜ)ᵕ̤ૢᴗᵕ̤ૢ )♡</string>
		<key>shortcut</key>
		<string>ちゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾁｭｯ * ^)(｡･_･｡)</string>
		<key>shortcut</key>
		<string>ちゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈(:3 　)∋≡=-･∴’Σ[ 囲 ]</string>
		<key>shortcut</key>
		<string>ちゅどん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( *ﾟ▽ﾟ*  っ)З</string>
		<key>shortcut</key>
		<string>ちょまど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|дﾟ)ﾁﾗｯ</string>
		<key>shortcut</key>
		<string>ちらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ω･)σﾂﾝﾂﾝ</string>
		<key>shortcut</key>
		<string>つんつん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*ﾉω・*)ﾃﾍ</string>
		<key>shortcut</key>
		<string>てへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ˉ̞̭ ( ›◡ु‹ ) ˄̻ ̊</string>
		<key>shortcut</key>
		<string>てへぺろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ω&lt;) ﾃﾍﾍﾟﾛ ☆ミ</string>
		<key>shortcut</key>
		<string>てへぺろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>－＝三∩(＞◡＜*)∩))Д´)どごぉ！	</string>
		<key>shortcut</key>
		<string>どごぉ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡･x･)o彡ﾟどじっこ!(｡･x･)o彡ﾟどじっこ!</string>
		<key>shortcut</key>
		<string>どじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ꉂꉂ ( ˆᴗˆ  )ﾄﾞｯ</string>
		<key>shortcut</key>
		<string>どっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>・:*。:*三(　o'ω')o</string>
		<key>shortcut</key>
		<string>ととと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((((((っ*‘ω‘)っ</string>
		<key>shortcut</key>
		<string>ととと</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･´ｰ･｀)</string>
		<key>shortcut</key>
		<string>どや</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヾﾉ・ω・`)ﾅｲﾅｲ</string>
		<key>shortcut</key>
		<string>ないない</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヾﾉヾﾉヾﾉヾﾉヾﾉ･ω･`)ヾﾉｼﾞｪｯﾄｽﾄﾘｰﾑﾅｲﾅｲ</string>
		<key>shortcut</key>
		<string>ないない</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ヾﾉ･∀･`)ﾅｲﾅｲ</string>
		<key>shortcut</key>
		<string>ないない</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟ∀ﾟ)人(ﾟ∀ﾟ)ﾅｶｰﾏ</string>
		<key>shortcut</key>
		<string>なかま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(╹◡╹๑)</string>
		<key>shortcut</key>
		<string>なでなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ（＞ヮ＜*）ﾅﾃﾞﾅﾃﾞ</string>
		<key>shortcut</key>
		<string>なでなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾅﾃﾞﾅﾃﾞ(o・_・)ノ”(・ω・)</string>
		<key>shortcut</key>
		<string>なでなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(o・_・)ノ”(ﾉ_＜。)</string>
		<key>shortcut</key>
		<string>なでなで</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˊ̱˂˃ˋ̱ )</string>
		<key>shortcut</key>
		<string>なめこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾅﾙ(・∀・)ﾎﾄﾞ</string>
		<key>shortcut</key>
		<string>なるほど</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(； ･`д･´) ﾅ､ﾅﾝﾀﾞｯﾃｰ!! (`･д´･ ；)</string>
		<key>shortcut</key>
		<string>なんだってー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>にこっ(*'Ⅴ`*)☆+ﾟ</string>
		<key>shortcut</key>
		<string>にこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ(⌯͒• ɪ •⌯͒)ฅ</string>
		<key>shortcut</key>
		<string>にゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(=^..^=)ミャー</string>
		<key>shortcut</key>
		<string>にゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ^•ﻌ•^ฅ</string>
		<key>shortcut</key>
		<string>にゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｢ΦωΦ)｢にゃおー</string>
		<key>shortcut</key>
		<string>にゃおー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎(*´ω｀*)</string>
		<key>shortcut</key>
		<string>にゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´,,･ω･,,｀)</string>
		<key>shortcut</key>
		<string>にゃん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ᯣωᯣ )</string>
		<key>shortcut</key>
		<string>ぬーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（   　'ㅂ'  　）</string>
		<key>shortcut</key>
		<string>ぬぼー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡´･　　　△　　　･｀｡)</string>
		<key>shortcut</key>
		<string>ぬぼー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*&gt;ヮ&lt;)(&gt;ヮ&lt;*)ﾈｰ</string>
		<key>shortcut</key>
		<string>ねー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´&gt;ω&lt;)(&gt;ω&lt;｀*)ﾈｰ</string>
		<key>shortcut</key>
		<string>ねー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´･ω･)(･ω･｀*)ﾈｰ</string>
		<key>shortcut</key>
		<string>ねー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑•ૅω•´๑)</string>
		<key>shortcut</key>
		<string>ねーねー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᓚᘏᗢ</string>
		<key>shortcut</key>
		<string>ねこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´つω・｡)</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;((=﹏=๑)));: ねႫゅƖ ı</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ=﹏=c) .｡o○</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ﹏-).｡oO</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ρω･`).｡o○</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´ぅω-｀)</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>…(σω-)。</string>
		<key>shortcut</key>
		<string>ねむい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ｃ⌒っ -ㅂ-)っzzz</string>
		<key>shortcut</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(:3[布団]</string>
		<key>shortcut</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>囧</string>
		<key>shortcut</key>
		<string>はぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(\( ⁰⊖⁰)/)</string>
		<key>shortcut</key>
		<string>ばぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ᐛ👐)パァ</string>
		<key>shortcut</key>
		<string>ぱぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ＞ω＜c) うーん！c（ ・ω・）っ ぱあっ！</string>
		<key>shortcut</key>
		<string>ぱぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´Д`)ﾊｧﾊｧ</string>
		<key>shortcut</key>
		<string>はぁはぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>'`ｨ (ﾟдﾟ)/</string>
		<key>shortcut</key>
		<string>はい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（´・ω:;.:...</string>
		<key>shortcut</key>
		<string>はぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(。・н・。)ﾊﾟｸｯ</string>
		<key>shortcut</key>
		<string>ぱくっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(‘д‘⊂彡☆))Д´)</string>
		<key>shortcut</key>
		<string>ばしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(/ω＼*)</string>
		<key>shortcut</key>
		<string>はずい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(&gt;_&lt; *)(* &gt;_&lt;)o</string>
		<key>shortcut</key>
		<string>ばたじた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(＞＜" 三 "＞＜)o</string>
		<key>shortcut</key>
		<string>ばたじた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o_ _)oﾊﾟﾀｯ (o- -)oﾑｸｯ (o°▽°)oﾆﾊﾟｯ (o_ _)oｺﾞﾛﾝ</string>
		<key>shortcut</key>
		<string>ばたっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(_ _#)o</string>
		<key>shortcut</key>
		<string>ばたっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(੭ु´･ω･`)੭ु⁾⁾</string>
		<key>shortcut</key>
		<string>ぱたぱた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(੭ु ´ω` )੭ु⁾⁾</string>
		<key>shortcut</key>
		<string>ぱたぱた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε(*´･ω･)зﾞ</string>
		<key>shortcut</key>
		<string>ぱたぱた</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ °ㅂ°）ﾊﾟﾁ</string>
		<key>shortcut</key>
		<string>ぱちっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( *º﹃º *)</string>
		<key>shortcut</key>
		<string>はっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑°︿°๑)</string>
		<key>shortcut</key>
		<string>はっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾟдﾟ)ﾊｯ!</string>
		<key>shortcut</key>
		<string>はっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♡*:.ᕼᗩᑭᑭY ᗷIᖇTᕼᗞᗩY.:*♡</string>
		<key>shortcut</key>
		<string>はぴば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ノ-_-)ノ~┻━┻</string>
		<key>shortcut</key>
		<string>ばんっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ʊ"- ʓ</string>
		<key>shortcut</key>
		<string>びーる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>｡°(°`ω´ °)°｡</string>
		<key>shortcut</key>
		<string>びええ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>💢</string>
		<key>shortcut</key>
		<string>ぴきっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╬⊙д⊙)</string>
		<key>shortcut</key>
		<string>ぴきっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（#＾ω＾）</string>
		<key>shortcut</key>
		<string>ぴきっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(；ﾟдﾟ)ﾉ ﾋﾞｸｯ</string>
		<key>shortcut</key>
		<string>びくっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> -=≡٩( ๑^ ꇴ^)۶</string>
		<key>shortcut</key>
		<string>ぴゅーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>=͟͟͞͞(๑╹ω╹三╹ω╹๑=͟͟͞͞)</string>
		<key>shortcut</key>
		<string>ひゅんひゅん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(( 'ω' 三 'ω' ))</string>
		<key>shortcut</key>
		<string>ひゅんひゅん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ひゅん(・ω・≡・ω・)ひゅん</string>
		<key>shortcut</key>
		<string>ひゅんひゅん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡･ө･｡)ﾋﾟﾖﾋﾟﾖ</string>
		<key>shortcut</key>
		<string>ぴよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o&lt; ・ω・ &gt;oﾋﾞﾛｰﾝ</string>
		<key>shortcut</key>
		<string>びろーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡･з･｡)</string>
		<key>shortcut</key>
		<string>ぶーぶー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˘･з･)</string>
		<key>shortcut</key>
		<string>ぶーぶー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・ε・｀ )</string>
		<key>shortcut</key>
		<string>ぶーぶー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ㆀ˘･з･˘)</string>
		<key>shortcut</key>
		<string>ぶーぶー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･ಎ･`)</string>
		<key>shortcut</key>
		<string>ふーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[ '_ㄣ' ]</string>
		<key>shortcut</key>
		<string>ふーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ω･)y-~~</string>
		<key>shortcut</key>
		<string>ふぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(V) o￥o (V)</string>
		<key>shortcut</key>
		<string>ふぉふぉふぉ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_(,'3」∠)_</string>
		<key>shortcut</key>
		<string>ふぎゃ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>m9(^Д^)ﾌﾟｷﾞｬｰ</string>
		<key>shortcut</key>
		<string>ぷぎゃー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>くぁwせdrftgyふじこlp</string>
		<key>shortcut</key>
		<string>ふじこるぴ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ƪ(˘⌣˘)ʃ</string>
		<key>shortcut</key>
		<string>ふっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>┐(´〜`)┌</string>
		<key>shortcut</key>
		<string>ふっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾌﾟｰｯ(っ*｀з´)っ・:∴</string>
		<key>shortcut</key>
		<string>ぷっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>c(╹ω╹*c[＿＿＿]</string>
		<key>shortcut</key>
		<string>ふとん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ㆀ˘･з･˘)σ)Д`)ｺｲﾂｩ</string>
		<key>shortcut</key>
		<string>ぷに</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(#ﾟДﾟ)y-~~</string>
		<key>shortcut</key>
		<string>ぷはー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ∩ˇωˇ∩)</string>
		<key>shortcut</key>
		<string>ふふん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍ (̨̡ ‾᷄⌂‾᷅)̧̢ ₎₎</string>
		<key>shortcut</key>
		<string>ふるふる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;(∩´ω`∩);:</string>
		<key>shortcut</key>
		<string>ふるふる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>"(((∩'ω'∩)))"</string>
		<key>shortcut</key>
		<string>ふるふる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>:;(∩´﹏`∩);:</string>
		<key>shortcut</key>
		<string>ふるふる</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´O)ゞ</string>
		<key>shortcut</key>
		<string>ふわぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´；ω；｀)</string>
		<key>shortcut</key>
		<string>ぶわっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩!ತಎತ!۶</string>
		<key>shortcut</key>
		<string>ぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(*`･_･´*)o</string>
		<key>shortcut</key>
		<string>ぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ(՞•ﻌ•՞ฅ 三  ฅ՞•ﻌ•՞)ฅ</string>
		<key>shortcut</key>
		<string>ふんふん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍ (̨̡ ˘ω˘)̧̢ ₎₎ ₍₍ (̨̡˘ω˘ )̧̢ ₎₎</string>
		<key>shortcut</key>
		<string>ふんふん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(。-`ω´-)</string>
		<key>shortcut</key>
		<string>ぷんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( *｀ω´)</string>
		<key>shortcut</key>
		<string>ぷんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>o(｀ω´*)o</string>
		<key>shortcut</key>
		<string>ぷんぷん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍ᐢ- ̫-ᐢ₎</string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‪(⚈.̮ ⚈)‬</string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(⚆.̮⚆)</string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・。・) </string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･д･`)</string>
		<key>shortcut</key>
		<string>へー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*- -)(*_ _)ﾍﾟｺ</string>
		<key>shortcut</key>
		<string>ぺこ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))ᐢ⸝⸝› ̫ ‹⸝⸝ᐢ₎</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))•̤̀ᵕ•̤́๑)</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))ᯣωᯣ )</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))*´꒳`*)ɞ°.</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))⚆.̮⚆)</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))﹡ˆoˆ﹡ )ﾉ</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))*'꒳'))`꒳'*)♡</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))° ×˚)◟ ⁾⁾</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎（ 'ㅂ'c彡☆))･ω･و(و"</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))•̥  ̫ •̥  )</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆)) ･᷅ὢ･᷄ )</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))'¬'*)</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（ 'ㅂ'c彡☆))Д´)</string>
		<key>shortcut</key>
		<string>べしっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(  * ॑꒳ ॑*)っ⌒♡｡．</string>
		<key>shortcut</key>
		<string>ぽいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ 'ㅂ')╮-=ﾆ= 三≡💣</string>
		<key>shortcut</key>
		<string>ぽいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(´･ω･`)つ―*'``*:.｡. .｡.:*･゜ﾟ･*どうにでもなぁれ～</string>
		<key>shortcut</key>
		<string>ぽいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(ﾟДﾟ=)ノ⌒ﾟ</string>
		<key>shortcut</key>
		<string>ぽいっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(╹⌓╹ )</string>
		<key>shortcut</key>
		<string>ほぇー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ,,-` ｡´-)</string>
		<key>shortcut</key>
		<string>ほぉ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(　ﾟдﾟ)ﾎﾟｶｰﾝ</string>
		<key>shortcut</key>
		<string>ぽかん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string> (*・・*)ﾎﾟｯ</string>
		<key>shortcut</key>
		<string>ぽっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʕ̡̢̡ʘ̅͟͜͡ʘ̲̅ʔ̢̡̢</string>
		<key>shortcut</key>
		<string>ぽにょ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍ ε=з ⁾⁾</string>
		<key>shortcut</key>
		<string>ほね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´3ω3`)</string>
		<key>shortcut</key>
		<string>ぽへ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♪( 'ω' و(و"</string>
		<key>shortcut</key>
		<string>まい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>˙˚ʚ₍ ᐢ. ̫ .ᐢ ₎ɞ˚&lt; ﾐｩﾐｩ</string>
		<key>shortcut</key>
		<string>みう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･᷄ὢ･᷅ )</string>
		<key>shortcut</key>
		<string>むー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>φ(・＿・”）</string>
		<key>shortcut</key>
		<string>めも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>....φ(．．)めもっ</string>
		<key>shortcut</key>
		<string>めも</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>๛ก(ｰ̀ωｰ́ก) めらぞーま</string>
		<key>shortcut</key>
		<string>めらぞーま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>༶･･ᗰદ૨૨ʏ ᘓમ૨ıડτന੨ડ･･༶</string>
		<key>shortcut</key>
		<string>めりくり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*´ω｀*)ﾓｷｭ</string>
		<key>shortcut</key>
		<string>もきゅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( '༥' )ŧ‹”ŧ‹”</string>
		<key>shortcut</key>
		<string>もぐもぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ŧ‹"(๑´ㅂ`๑)ŧ‹"</string>
		<key>shortcut</key>
		<string>もぐもぐ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*μ_μ)σ| ﾓｼﾞﾓｼﾞ</string>
		<key>shortcut</key>
		<string>もじもじ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(○´ω`○)ﾉゃぁ</string>
		<key>shortcut</key>
		<string>やぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ ▽ ` )ノ</string>
		<key>shortcut</key>
		<string>やぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩(๑`^´๑)۶</string>
		<key>shortcut</key>
		<string>やだ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☃</string>
		<key>shortcut</key>
		<string>ゆき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍˄·͈༝·͈˄₎ฅ˒˒</string>
		<key>shortcut</key>
		<string>よぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>壁|.°｡)ﾉﾞ</string>
		<key>shortcut</key>
		<string>よぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(*･ω･)ﾉ</string>
		<key>shortcut</key>
		<string>よぅ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よろしくお願いします。</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((*ﾟДﾟ)ゞ</string>
		<key>shortcut</key>
		<string>らじゃっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（∩╹∀╹∩）❤</string>
		<key>shortcut</key>
		<string>らびっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(๑&gt;◡&lt;)ﾉ"♡</string>
		<key>shortcut</key>
		<string>らびっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( •ॢ◡-ॢ)-♡</string>
		<key>shortcut</key>
		<string>らびっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((∩*・x・))∩♡</string>
		<key>shortcut</key>
		<string>らびっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ﾉ╹ω╹)ﾉ＜らりほー</string>
		<key>shortcut</key>
		<string>らりほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string></string>
		<key>shortcut</key>
		<string>りんご</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>㍘</string>
		<key>shortcut</key>
		<string>れいてん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩( ・ω・)∩</string>
		<key>shortcut</key>
		<string>わーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(ω･,,ヽ)(ﾉ,,･ω)ﾉ</string>
		<key>shortcut</key>
		<string>わーい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((o(*ﾟ▽ﾟ*)o)))</string>
		<key>shortcut</key>
		<string>わぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*･゜ﾟ･*:.｡..｡.:*･'(*ﾟ▽ﾟ*)'･*:.｡. .｡.:*･゜ﾟ･*</string>
		<key>shortcut</key>
		<string>わぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ฅ( ̳• ·̫ • ̳ฅ)</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヽ(・∀・)ノ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾜｧ───ヽ(*ﾟ∀ﾟ*)ﾉ───ｲ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✩°｡⋆⸜(* ॑꒳ ॑* )⸝</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩꒰｡•◡•。꒱۶'</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‎٩(๑♥ڡ♥๑)۶</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>*+.\(( °ω° ))/.:+</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ᕕ( ᐛ )ᕗ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⸜(  ॑꒳ ॑  )⸝</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼( 'ω')／</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(・∀・)人(・∀・)</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(l ヮ l〃)ﾉﾞ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆*:.｡. o(≧▽≦)o .｡.:*☆</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍◞( ˙ ꒳ ˙ )◞⁾⁾ ₍₍◝( ˙ ꒳ ˙ )◟⁾⁾</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(((o(*ﾟ▽ﾟ*)o)))</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>٩( ᐛ )و</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(∩・_・)∩ﾜｰｲ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(*'ω'* )ﾉﾞ三ヾ( *'ω'*)ﾉﾞ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(〃l _ l)ﾉﾞ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(＠⌒ー⌒＠)ノ</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩(&gt;◡&lt;*)∩</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ヾ(๑╹◡╹)ﾉ"</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✧*。ヾ(｡´・ω・`｡)ﾉﾞ。*✧</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(=´∀｀)人(´∀｀=)</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´ ▽ ` )</string>
		<key>shortcut</key>
		<string>わぁい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(0ﾟ･∀･)wktk</string>
		<key>shortcut</key>
		<string>わくてか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>((o(´∀｀)o))ﾜｸﾜｸ</string>
		<key>shortcut</key>
		<string>わくわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑╹◡╹๑)</string>
		<key>shortcut</key>
		<string>わくわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(｡'ω'｡)</string>
		<key>shortcut</key>
		<string>わくわく</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･ワ･`)</string>
		<key>shortcut</key>
		<string>わっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ʕ•̫͡•ʕ*̫͡*ʕ•͓͡•ʔ-̫͡-ʕ•̫͡•ʔ*̫͡*ʔ-̫͡-ʔ</string>
		<key>shortcut</key>
		<string>わらわら</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂ﾟＵ┬───┬~</string>
		<key>shortcut</key>
		<string>わん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>（∪＾ω＾）わんわんお！</string>
		<key>shortcut</key>
		<string>わんわん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(∩´〰`∩)</string>
		<key>shortcut</key>
		<string>んー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ﾝｰ!（っˇωˇ)っ⊂(ˇωˇ⊂）ﾝｰ!</string>
		<key>shortcut</key>
		<string>んー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>[＿＿] °ㅂ°）ﾝｷﾞ</string>
		<key>shortcut</key>
		<string>んぎ</string>
	</dict>
</array>
</plist>
